#title{
text-align:center;
color: #5a584a;
font-family: cursive;
font-size: 48px;
}

#container{
background-color:#c6dab2;
border-radius: 25px;
padding: 20px;
width:1200px;
}

#subtitle{
color:#5a584a ;
font-family: cursive;
font-size: 24px;
}

#lowerSection{
display:flex;
}

#lowerRight{

}
#lowerLeft{
margin-right:250px;
}

table{
background-color:#5a584a;
width:500px;
height:100%;
}
th{
color:#b4a481;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:#c6dab2;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 73px;
text-decoration: none;
background-color:#5a584a;
border-radius:15px;
font-family:helvetica;
font-weight: bold;
}

li a:hover {
background-color: #111;
}
