body{
  background-color: gold;
  font-family: Times New Roman;
}

.centerA { text-align: left;
border: 1px red;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 400px;
margin-left: 400px;

padding-top: 1px;
padding-bottom: 1px;
padding-right: 10px;
padding-left: 10px;
background-color: red;}

.centerB { text-align: left;
border: 1px grey;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 400px;
margin-left: 400px;

padding-top: 1px;
padding-bottom: 1px;
padding-right: 10px;
padding-left: 10px;
background-color: grey;}

ul { display: inline-block;
  margin-left: auto;
list-style-position: outside;}
